chroot
chroot_install_pkg
scripts/chroot
scripts/image
scripts/reports
scripts/certificates
*.iso
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/livecd.iml
/.idea/modules.xml
/.idea/vcs.xml
