[system]
compatible=@COMPATIBLE@
bootloader=efi
data-directory=/var/lib/rauc
bundle-formats=-plain
efi-use-bootnext=true
activate-installed=true

[keyring]
path=/etc/rauc/keyring.pem

[slot.efi.0]
device=/dev/disk/by-partlabel/efi_A
type=vfat
bootname=system0

[slot.efi.1]
device=/dev/disk/by-partlabel/efi_B
type=vfat
bootname=system1

[slot.rootfs.0]
device=/dev/disk/by-partlabel/rootfs_A
type=raw
parent=efi.0

[slot.rootfs.1]
device=/dev/disk/by-partlabel/rootfs_B
type=raw
parent=efi.1
