[Desktop Entry]
Type=Application
Name=Inauto Panel Installer
Comment=Install Inauto panel firmware
Exec=/opt/inauto-installer/START-INSTALLER.sh
Terminal=false
Categories=System;
