[update]
compatible=@COMPATIBLE@
version=@RAUC_BUNDLE_VERSION@
description=Inauto panel firmware @RAUC_BUNDLE_VERSION@

[bundle]
format=verity

[image.efi]
filename=efi.vfat

[image.rootfs]
filename=rootfs.img
