[system]
compatible=@COMPATIBLE@
bootloader=grub
grubenv=/run/inauto/bootenv/grubenv
data-directory=/var/lib/rauc
bundle-formats=-plain

[keyring]
path=/etc/rauc/keyring.pem

[slot.rootfs.0]
device=/dev/disk/by-partlabel/rootfs_A
type=raw
bootname=system0

[slot.rootfs.1]
device=/dev/disk/by-partlabel/rootfs_B
type=raw
bootname=system1
